<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                       http://www.springframework.org/schema/context
                       http://www.springframework.org/schema/context/spring-context-4.3.xsd
                       http://www.springframework.org/schema/jee
                       http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
                       http://www.springframework.org/schema/mvc
                       http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
                       http://www.springframework.org/schema/util 
                       http://www.springframework.org/schema/util/spring-util-4.3.xsd">
 	<mvc:annotation-driven/>  <!--启动spring mvc  -->
	<context:annotation-config/> <!--允许annotation配置  -->
    <context:component-scan base-package="com.yyn.controller" />  <!--controller下的包可以自动装配  -->
    
	<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
         <property name="prefix" value="/views/" />
         <property name="suffix" value="" />
    </bean>
    	
    <!-- 遇到 / 会转发到 forward的网页 -->
<!--     <mvc:view-controller path="/" view-name="forward:/spittle/regisit"/>  -->
    <mvc:default-servlet-handler/>     <!-- 使用默认方式处理静态路径 -->
    <!-- 静态资源映射 -->
    <mvc:resources mapping="/assets/**" location="/assets/" />
	
<!--     文件上传相关 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
<!--         one of the properties available;the maximum file size in bytes 设定上传文件最大大小为20兆 -->
        <property name="maxUploadSize" value="204857600"/>
    </bean>
    <!--<mvc:interceptors>-->
        <!--&lt;!&ndash; 多个拦截器，顺序执行 &ndash;&gt;-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<bean class="com.yyn.interceptor.LoginIntercepter"></bean>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->
</beans>
